body{
	margin:0;
	font-family: gotham, arial, sans-serif;
}

header{
	background-color: #E9E8F6;
	height: 50%;
	padding-bottom: 20px;
}
header h1{
	color: #030047;
	padding-top: 15%;
	margin-left: 18%;
	font-size:  50px;
	
}
header h2{
	color: #030047;
	font-size: 150%;
	font-family: gotham light;
	margin-left: 18%;
	margin-bottom: 18%;
	margin-right: 18%;


}
header img {
	float: right;
	margin-right: 10%;
	margin-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	height: 650px;


}
.tlac.png {

	
