body{
	margin:0;
	font-family: roboto, arial, sans-serif;

}
a {
	font-weight: 600;
}

.topnav a {
  float: right;
  color: #030047;
  text-align: center;
  padding: 40px 50px 40px 0px;
  text-decoration: none;
  font-size: 20px;
}

.Anna a {
	float: left;
  color: #FE9D0E;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
  font-size: 20px;
}


header{
	background-color: #E9E8F6;
	height: 70%;
	padding-bottom: 50px;
}
h1, h2{
	font-family: 'Maven Pro', sans-serif;
	padding: 0 20px;
	margin: 0px auto;
    max-width: 1000px;
}
header h1{
	color: #030047;
	padding-top: 15%;
	font-size:  50px;
	padding-bottom: 20px;
	
}
header h2{
	color: #030047;
	font-size: 150%;
	font-weight: 400;
	margin-bottom: 18%;
	


}
.ja img {
	float: right;
	margin: 15% 0px;
	max-height: 700px;

}
main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px

}
	
main img{
	max-width: 100%;
}

main h1, h2, p{
	color: #030047;
}

main h1{
	font-weight: 400;
	font-size: 18PX;
	padding: 40px 0;

}

main h2{

}

p{
	max-width: 500px;
	float: right;
	
}