body{
	margin:0;
	font-family: roboto, arial, sans-serif;

}

header{
	background-color: #E9E8F6;
	height: 70%;
	padding-bottom: 50px;
}
h1, h2{
	font-family: 'Maven Pro', sans-serif;
	padding: 0 20px;
	margin: 0 auto;
    max-width: 1000px;
}
header h1{
	color: #030047;
	padding-top: 15%;
	font-size:  50px;
	
}
header h2{
	color: #030047;
	font-size: 150%;
	font-weight: 400;
	margin-bottom: 18%;
	


}
header img {
	float: right;
	margin-right: 10%;
	margin-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	max-height: 650px;


}
main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px

}
	
main img{
	max-width: 100%;
}